<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="stazkainos_db" connectionString="Server=tcp:forexkainosdmdbserver.database.windows.net,1433;Data Source=forexkainosdmdbserver.database.windows.net;Initial Catalog=stazkainos_db;Persist Security Info=False;User ID={your_username};Password={your_password};Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" forwardWindowsAuthToken="false" startupTimeLimit="3600" />
  </system.webServer>
</configuration>